# Rain and CSO Data Preparation

## Rain Dataset

In [4]:
import os
import json
import pandas as pd
import bng_latlon as bl

In [5]:
dir_store_path = "/Users/massimilianoarca/Library/CloudStorage/OneDrive-PolitecnicodiMilano/Thames Ecoli/temporary results"
dir_further_features_path = "/Users/massimilianoarca/Library/CloudStorage/OneDrive-PolitecnicodiMilano/Thames Ecoli/further_features"

In [6]:
raw_rain_sites_df = pd.read_excel(os.path.join(dir_further_features_path, "Rainfall API Thames.xlsx"), sheet_name="Playing with data")
raw_deptford_df = pd.read_excel(os.path.join(dir_further_features_path, "Rainfall API Thames.xlsx"), sheet_name="Deptford")
raw_holland_park_df = pd.read_excel(os.path.join(dir_further_features_path, "Rainfall API Thames.xlsx"), sheet_name="Holland Park")
raw_putney_heath_df = pd.read_excel(os.path.join(dir_further_features_path, "Rainfall API Thames.xlsx"), sheet_name="Putney Heath")
raw_hogsmill_valley_df = pd.read_excel(os.path.join(dir_further_features_path, "Rainfall API Thames.xlsx"), sheet_name="Hogsmill Valley")

### Rain Sites

In [7]:
rain_sites_df = raw_rain_sites_df.copy()

# Date and Time adjustments
rain_sites_df["Latest Data"] = pd.to_datetime(rain_sites_df["Latest Data"])
rain_sites_df["Date"] = rain_sites_df["Latest Data"].dt.date
rain_sites_df["Time"] = rain_sites_df["Latest Data"].dt.time

date_col = rain_sites_df.pop("Date")
time_col = rain_sites_df.pop("Time")

rain_sites_df.insert(2, "Date", date_col)
rain_sites_df.insert(3, "Time", time_col)

rain_sites_df = rain_sites_df.drop(columns=["Latest Data"])

# Location adjustments
rain_sites_df["Lat"] = rain_sites_df["Location"].str.split(",").str[0]
rain_sites_df["Lon"] = rain_sites_df["Location"].str.split(",").str[1]

lat_col = rain_sites_df.pop("Lat")
lon_col = rain_sites_df.pop("Lon")

rain_sites_df.insert(4, "Lat", lat_col)
rain_sites_df.insert(5, "Lon", lon_col)

rain_sites_df = rain_sites_df.drop(columns=["Location"])

In [8]:
rain_sites_df

,Site,Date,Time,Lat,Lon,Rainfall (past 15 minutes)
0,Deptford,2023-11-17,06:15:00,51.476541,-0.017866,0
1,Holland Park,2023-11-17,08:30:00,51.501145,-0.205547,0
2,Putney Heath,2023-11-17,08:30:00,51.449283,-0.224851,0
3,Hogsmill Valley,2023-11-17,08:30:00,51.400709,-0.284238,0

### Deptford Site

In [9]:
deptford_df = raw_deptford_df.copy()

# Date and Time adjustments
deptford_df["DateTime"] = pd.to_datetime(deptford_df["DateTime"])
deptford_df["Date"] = deptford_df["DateTime"].dt.date
deptford_df["Time"] = deptford_df["DateTime"].dt.time

date_col = deptford_df.pop("Date")
time_col = deptford_df.pop("Time")

deptford_df.insert(2, "Date", date_col)
deptford_df.insert(3, "Time", time_col)

deptford_df = deptford_df.drop(columns=["DateTime"])

deptford_df.rename(columns={"Rainfall": "Rainfall (mm)"}, inplace=True)
deptford_df.drop(columns=["unit", "period_s"], inplace=True)

deptford_df

      Station_ID        Date      Time  Rainfall (mm)
0       289102TP  2023-03-11  18:00:00            0.0
1       289102TP  2023-03-11  18:15:00            0.0
2       289102TP  2023-03-11  18:30:00            0.2
3       289102TP  2023-03-11  18:45:00            0.0
4       289102TP  2023-03-11  19:00:00            0.0
...          ...         ...       ...            ...
22678   289102TP  2023-11-17  05:15:00            0.0
22679   289102TP  2023-11-17  05:30:00            0.0
22680   289102TP  2023-11-17  05:45:00            0.0
22681   289102TP  2023-11-17  06:00:00            0.0
22682   289102TP  2023-11-17  06:15:00            0.0

[22683 rows x 4 columns]

### Holland Park Site

In [10]:
holland_park_df = raw_holland_park_df.copy()

# Date and Time adjustments
holland_park_df["DateTime"] = pd.to_datetime(holland_park_df["DateTime"])
holland_park_df["Date"] = holland_park_df["DateTime"].dt.date
holland_park_df["Time"] = holland_park_df["DateTime"].dt.time

date_col = holland_park_df.pop("Date")
time_col = holland_park_df.pop("Time")

holland_park_df.insert(2, "Date", date_col)
holland_park_df.insert(3, "Time", time_col)

holland_park_df = holland_park_df.drop(columns=["DateTime"])

holland_park_df.rename(columns={"Rainfall": "Rainfall (mm)"}, inplace=True)
holland_park_df.drop(columns=["unit", "period_s"], inplace=True)

holland_park_df

      Station_ID        Date      Time  Rainfall (mm)
0       246424TP  2023-03-11  18:15:00            0.0
1       246424TP  2023-03-11  18:30:00            0.0
2       246424TP  2023-03-11  19:00:00            0.4
3       246424TP  2023-03-11  19:15:00            0.4
4       246424TP  2023-03-11  19:30:00            0.0
...          ...         ...       ...            ...
22433   246424TP  2023-11-17  07:30:00            0.0
22434   246424TP  2023-11-17  07:45:00            0.0
22435   246424TP  2023-11-17  08:00:00            0.0
22436   246424TP  2023-11-17  08:15:00            0.0
22437   246424TP  2023-11-17  08:30:00            0.0

[22438 rows x 4 columns]

### Putney Heath Site

In [11]:
putney_heath_df = raw_putney_heath_df.copy()

# Date and Time adjustments
putney_heath_df["DateTime"] = pd.to_datetime(putney_heath_df["DateTime"])
putney_heath_df["Date"] = putney_heath_df["DateTime"].dt.date
putney_heath_df["Time"] = putney_heath_df["DateTime"].dt.time

date_col = putney_heath_df.pop("Date")
time_col = putney_heath_df.pop("Time")

putney_heath_df.insert(2, "Date", date_col)
putney_heath_df.insert(3, "Time", time_col)

putney_heath_df = putney_heath_df.drop(columns=["DateTime"])

putney_heath_df.rename(columns={"Rainfall": "Rainfall (mm)"}, inplace=True)

putney_heath_df.drop(columns=["unit", "period_s"], inplace=True)

putney_heath_df

      Station_ID        Date      Time  Rainfall (mm)
0       287283TP  2023-03-11  18:30:00            0.1
1       287283TP  2023-03-11  18:45:00            0.0
2       287283TP  2023-03-11  19:00:00            0.0
3       287283TP  2023-03-11  19:15:00            0.2
4       287283TP  2023-03-11  19:30:00            0.0
...          ...         ...       ...            ...
22840   287283TP  2023-11-17  07:30:00            0.0
22841   287283TP  2023-11-17  07:45:00            0.0
22842   287283TP  2023-11-17  08:00:00            0.0
22843   287283TP  2023-11-17  08:15:00            0.0
22844   287283TP  2023-11-17  08:30:00            0.0

[22845 rows x 4 columns]

### Hogsmill Valley Site

In [12]:
hogsmill_valley_df = raw_hogsmill_valley_df.copy()

# Date and Time adjustments
hogsmill_valley_df["DateTime"] = pd.to_datetime(hogsmill_valley_df["DateTime"])
hogsmill_valley_df["Date"] = hogsmill_valley_df["DateTime"].dt.date
hogsmill_valley_df["Time"] = hogsmill_valley_df["DateTime"].dt.time

date_col = hogsmill_valley_df.pop("Date")
time_col = hogsmill_valley_df.pop("Time")

hogsmill_valley_df.insert(2, "Date", date_col)
hogsmill_valley_df.insert(3, "Time", time_col)

hogsmill_valley_df = hogsmill_valley_df.drop(columns=["DateTime"])

hogsmill_valley_df.rename(columns={"Rainfall": "Rainfall (mm)"}, inplace=True)

hogsmill_valley_df.drop(columns=["unit", "period_s"], inplace=True)

hogsmill_valley_df

      Station_ID        Date      Time  Rainfall (mm)
0       286392TP  2023-03-11  18:30:00            0.0
1       286392TP  2023-03-11  18:45:00            0.0
2       286392TP  2023-03-11  19:00:00            0.0
3       286392TP  2023-03-11  19:15:00            0.1
4       286392TP  2023-03-11  19:30:00            0.1
...          ...         ...       ...            ...
22839   286392TP  2023-11-17  07:30:00            0.0
22840   286392TP  2023-11-17  07:45:00            0.0
22841   286392TP  2023-11-17  08:00:00            0.0
22842   286392TP  2023-11-17  08:15:00            0.0
22843   286392TP  2023-11-17  08:30:00            0.0

[22844 rows x 4 columns]

## Merge Data

In [13]:
deptford_df.insert(0, "Site", "Deptford")
holland_park_df.insert(0, "Site", "Holland Park")
putney_heath_df.insert(0, "Site", "Putney Heath")
hogsmill_valley_df.insert(0, "Site", "Hogsmill Valley")

In [14]:
deptford_df.insert(
    2,
    "Lat",
    rain_sites_df.loc[rain_sites_df["Site"] == "Deptford", "Lat"].values[0],
)
deptford_df.insert(
    3,
    "Lon",
    rain_sites_df.loc[rain_sites_df["Site"] == "Deptford", "Lon"].values[0],
)

holland_park_df.insert(
    2,
    "Lat",
    rain_sites_df.loc[rain_sites_df["Site"] == "Holland Park", "Lat"].values[0],
)
holland_park_df.insert(
    3,
    "Lon",
    rain_sites_df.loc[rain_sites_df["Site"] == "Holland Park", "Lon"].values[0],
)

putney_heath_df.insert(
    2,
    "Lat",
    rain_sites_df.loc[rain_sites_df["Site"] == "Putney Heath", "Lat"].values[0],
)
putney_heath_df.insert(
    3,
    "Lon",
    rain_sites_df.loc[rain_sites_df["Site"] == "Putney Heath", "Lon"].values[0],
)

hogsmill_valley_df.insert(
    2,
    "Lat",
    rain_sites_df.loc[rain_sites_df["Site"] == "Hogsmill Valley", "Lat"].values[0],
)
hogsmill_valley_df.insert(
    3,
    "Lon",
    rain_sites_df.loc[rain_sites_df["Site"] == "Hogsmill Valley", "Lon"].values[0],
)

In [15]:
full_df = pd.concat(
    [deptford_df, holland_park_df, putney_heath_df, hogsmill_valley_df]
).reset_index(drop=True)

full_df

,Site,Station_ID,Lat,Lon,Date,Time,Rainfall (mm)
0,Deptford,289102TP,51.476541,-0.017866,2023-03-11,18:00:00,0.0
1,Deptford,289102TP,51.476541,-0.017866,2023-03-11,18:15:00,0.0
2,Deptford,289102TP,51.476541,-0.017866,2023-03-11,18:30:00,0.2
3,Deptford,289102TP,51.476541,-0.017866,2023-03-11,18:45:00,0.0
4,Deptford,289102TP,51.476541,-0.017866,2023-03-11,19:00:00,0.0
...,...,...,...,...,...,...,...
90805,Hogsmill Valley,286392TP,51.400709,-0.284238,2023-11-17,07:30:00,0.0
90806,Hogsmill Valley,286392TP,51.400709,-0.284238,2023-11-17,07:45:00,0.0
90807,Hogsmill Valley,286392TP,51.400709,-0.284238,2023-11-17,08:00:00,0.0
90808,Hogsmill Valley,286392TP,51.400709,-0.284238,2023-11-17,08:15:00,0.0
90809,Hogsmill Valley,286392TP,51.400709,-0.284238,2023-11-17,08:30:00,0.0

In [16]:
full_df.to_csv(os.path.join(dir_store_path, "rainfall_dataset.csv"), index=False)

# CSO Dataset

In [17]:
cso_path = "/Users/massimilianoarca/Library/CloudStorage/OneDrive-PolitecnicodiMilano/Thames Ecoli/sewer_london/CSO_buffer.xlsx"

In [18]:
raw_cso_df = pd.read_excel(os.path.join(dir_further_features_path, "Thames Water Historic Discharges by site (missing fleet main before 2023).xlsx"), header=None)
cso_50_df = pd.read_excel(cso_path, sheet_name="50 km")
cso_20_df = pd.read_excel(cso_path, sheet_name="20 km")

In [90]:
raw_cso_df

                                                      0
0     {"meta": {"publisher": "Thames Water Utilities...
1     {"meta": {"publisher": "Thames Water Utilities...
2     {"meta": {"publisher": "Thames Water Utilities...
3     {"meta": {"publisher": "Thames Water Utilities...
4     {"meta": {"publisher": "Thames Water Utilities...
...                                                 ...
4171  {"meta": {"publisher": "Thames Water Utilities...
4172  {"meta": {"publisher": "Thames Water Utilities...
4173  {"meta": {"publisher": "Thames Water Utilities...
4174  {"meta": {"publisher": "Thames Water Utilities...
4175  {"meta": {"publisher": "Thames Water Utilities...

[4176 rows x 1 columns]

In [109]:
def check_alternates(df):
    df['IsStart'] = df['AlertType'] == 'Start'
    df['Alternates'] = df['IsStart'] != df['IsStart'].shift()

In [125]:
df_list = []

for _, row in raw_cso_df.iterrows():
    cso_dict = json.loads(row[0])
    if "items" in cso_dict.keys():
        if len(cso_dict["items"]) > 1:  
            temp_df = pd.DataFrame(cso_dict["items"])
            temp_df["AlertType"].replace(
                {
                    "Offline start": "Start",
                    "Offline stop": "Stop",
                },
                inplace=True,
            )
            temp_df.drop(["PermitNumber", "LocationGridRef", "ReceivingWaterCourse"], axis=1, inplace=True)
            temp_df = temp_df.groupby(["LocationName", "DateTime"], as_index=False).agg(
                {
                    "X": "first",
                    "Y": "first",
                    "AlertType": "first",
                }
            )
            check_alternates(temp_df)
            df_list.append(temp_df)

cso_df = pd.concat(df_list, ignore_index=True)

In [123]:
cso_df

,LocationName,DateTime,X,Y,AlertType,IsStart,Alternates
0,(Northern) Low Level No 1 Brook Green,2022-09-13T16:08:00,523040,178150,Start,True,True
1,(Northern) Low Level No 1 Brook Green,2022-09-13T16:18:00,523040,178150,Stop,False,True
2,Abbess Roding,2022-12-12T18:15:00,557580,211090,Start,True,True
3,Abbess Roding,2022-12-14T09:45:00,557580,211090,Stop,False,True
4,Abbess Roding,2022-12-28T03:15:00,557580,211090,Start,True,True
...,...,...,...,...,...,...,...
226781,"Wynters Brook, Hastingwood",2023-10-22T00:30:00,548900,207800,Stop,False,True
226782,"Wynters Brook, Hastingwood",2023-10-29T00:00:00,548900,207800,Start,True,True
226783,"Wynters Brook, Hastingwood",2023-10-29T06:30:00,548900,207800,Stop,False,True
226784,"Wynters Brook, Hastingwood",2023-10-29T12:15:00,548900,207800,Start,True,True
226785,"Wynters Brook, Hastingwood",2023-10-29T18:30:00,548900,207800,Stop,False,True

In [126]:
cso_df[cso_df["AlertType"] == 'Start'].count()

LocationName    113762
DateTime        113762
X               113762
Y               113762
AlertType       113762
IsStart         113762
Alternates      113762
dtype: int64

In [127]:
cso_df[cso_df["AlertType"] == 'Stop'].count()

LocationName    113024
DateTime        113024
X               113024
Y               113024
AlertType       113024
IsStart         113024
Alternates      113024
dtype: int64

In [129]:
cso_df[cso_df["Alternates"] == False].count()

LocationName    241
DateTime        241
X               241
Y               241
AlertType       241
IsStart         241
Alternates      241
dtype: int64

In [62]:
# Step 1: Create a new column that is True where AlertType is "Start" and False where AlertType is "Stop"
prova['IsStart'] = prova['AlertType'] == 'Start'

# Step 2: Check if the new column alternates between True and False
prova['Alternates'] = prova['IsStart'] != prova['IsStart'].shift()

# If all values in the 'Alternates' column are True, then the 'AlertType' column alternates between "Start" and "Stop"
alternates = prova['Alternates'].all()

print(alternates)

False

In [63]:
prova

,LocationName,PermitNumber,LocationGridRef,X,Y,ReceivingWaterCourse,AlertType,DateTime,IsStart,Alternates
0,(Northern) Low Level No 1 Brook Green,CSAB.0535,TQ23047815,523040,178150,River Thames,Stop,2022-09-13T16:18:00,False,True
1,(Northern) Low Level No 1 Brook Green,CSAB.0535,TQ23047815,523040,178150,River Thames,Start,2022-09-13T16:08:00,True,True
2,Abbess Roding,CTCR.2034,TL57581109,557580,211090,Coopers Brook,Stop,2023-02-15T04:45:00,False,True
3,Abbess Roding,CTCR.2034,TL57581109,557580,211090,Coopers Brook,Start,2023-02-15T04:15:00,True,True
4,Abbess Roding,CTCR.2034,TL57581109,557580,211090,Coopers Brook,Stop,2023-02-15T01:00:00,False,True
...,...,...,...,...,...,...,...,...,...,...
227022,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Start,2023-01-01T19:15:00,True,True
227023,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Stop,2023-01-01T04:30:00,False,True
227024,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Start,2022-12-31T13:15:00,True,True
227025,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Stop,2022-12-24T00:00:00,False,True
227026,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Start,2022-12-23T09:45:00,True,True

In [43]:
prova_reversed = prova.iloc[::-1]
prova_reversed

,LocationName,PermitNumber,LocationGridRef,X,Y,ReceivingWaterCourse,AlertType,DateTime
227026,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Start,2022-12-23T09:45:00
227025,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Stop,2022-12-24T00:00:00
227024,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Start,2022-12-31T13:15:00
227023,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Stop,2023-01-01T04:30:00
227022,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Start,2023-01-01T19:15:00
...,...,...,...,...,...,...,...,...
4,Abbess Roding,CTCR.2034,TL57581109,557580,211090,Coopers Brook,Stop,2023-02-15T01:00:00
3,Abbess Roding,CTCR.2034,TL57581109,557580,211090,Coopers Brook,Start,2023-02-15T04:15:00
2,Abbess Roding,CTCR.2034,TL57581109,557580,211090,Coopers Brook,Stop,2023-02-15T04:45:00
1,(Northern) Low Level No 1 Brook Green,CSAB.0535,TQ23047815,523040,178150,River Thames,Start,2022-09-13T16:08:00
0,(Northern) Low Level No 1 Brook Green,CSAB.0535,TQ23047815,523040,178150,River Thames,Stop,2022-09-13T16:18:00

In [44]:
prova_reversed['Group'] = prova_reversed.index // 2

/var/folders/5l/c1vg2tp11w33f10cy5zpdxcc0000gn/T/ipykernel_63055/1623240066.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prova_reversed['Group'] = prova_reversed.index // 2

In [45]:
prova_reversed

,LocationName,PermitNumber,LocationGridRef,X,Y,ReceivingWaterCourse,AlertType,DateTime,Group
227026,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Start,2022-12-23T09:45:00,113513
227025,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Stop,2022-12-24T00:00:00,113512
227024,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Start,2022-12-31T13:15:00,113512
227023,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Stop,2023-01-01T04:30:00,113511
227022,"Wynters Brook, Hastingwood",TEMP.2279,TL489078,548900,207800,Shonks Brook,Start,2023-01-01T19:15:00,113511
...,...,...,...,...,...,...,...,...,...
4,Abbess Roding,CTCR.2034,TL57581109,557580,211090,Coopers Brook,Stop,2023-02-15T01:00:00,2
3,Abbess Roding,CTCR.2034,TL57581109,557580,211090,Coopers Brook,Start,2023-02-15T04:15:00,1
2,Abbess Roding,CTCR.2034,TL57581109,557580,211090,Coopers Brook,Stop,2023-02-15T04:45:00,1
1,(Northern) Low Level No 1 Brook Green,CSAB.0535,TQ23047815,523040,178150,River Thames,Start,2022-09-13T16:08:00,0
0,(Northern) Low Level No 1 Brook Green,CSAB.0535,TQ23047815,523040,178150,River Thames,Stop,2022-09-13T16:18:00,0

In [36]:
prova_final = prova_reversed.groupby('Group').agg({'DateTime': lambda x: list(x)})

In [37]:
prova_final

                                          DateTime
Group
0       [2022-09-13T16:18:00, 2022-09-13T16:08:00]
1       [2023-02-15T04:45:00, 2023-02-15T04:15:00]
2       [2023-02-15T01:00:00, 2023-02-15T00:15:00]
3       [2023-02-14T21:30:00, 2023-02-14T20:45:00]
4       [2023-02-14T20:00:00, 2023-02-14T19:30:00]
...                                            ...
113509  [2023-01-10T11:15:00, 2023-01-09T04:30:00]
113510  [2023-01-08T14:15:00, 2023-01-02T04:00:00]
113511  [2023-01-01T19:15:00, 2023-01-01T04:30:00]
113512  [2022-12-31T13:15:00, 2022-12-24T00:00:00]
113513                       [2022-12-23T09:45:00]

[113514 rows x 1 columns]

In [38]:
prova_final[['StartTime', 'EndTime']] = pd.DataFrame(prova_final['DateTime'].tolist(), index=prova_final.index)

In [39]:
prova_final

,DateTime,StartTime,EndTime
Group,,,
0,"[2022-09-13T16:18:00, 2022-09-13T16:08:00]",2022-09-13T16:18:00,2022-09-13T16:08:00
1,"[2023-02-15T04:45:00, 2023-02-15T04:15:00]",2023-02-15T04:45:00,2023-02-15T04:15:00
2,"[2023-02-15T01:00:00, 2023-02-15T00:15:00]",2023-02-15T01:00:00,2023-02-15T00:15:00
3,"[2023-02-14T21:30:00, 2023-02-14T20:45:00]",2023-02-14T21:30:00,2023-02-14T20:45:00
4,"[2023-02-14T20:00:00, 2023-02-14T19:30:00]",2023-02-14T20:00:00,2023-02-14T19:30:00
...,...,...,...
113509,"[2023-01-10T11:15:00, 2023-01-09T04:30:00]",2023-01-10T11:15:00,2023-01-09T04:30:00
113510,"[2023-01-08T14:15:00, 2023-01-02T04:00:00]",2023-01-08T14:15:00,2023-01-02T04:00:00
113511,"[2023-01-01T19:15:00, 2023-01-01T04:30:00]",2023-01-01T19:15:00,2023-01-01T04:30:00
113512,"[2022-12-31T13:15:00, 2022-12-24T00:00:00]",2022-12-31T13:15:00,2022-12-24T00:00:00
113513,[2022-12-23T09:45:00],2022-12-23T09:45:00,None